@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

.navbar {

    display:flex;
    justify-content: space-evenly;
    font-size: x-large;
    font-family: 'Permanent Marker', sans-serif;
}

h1 {text-align: center;}

.main {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:40%;
}

h1{
    font-family: 'Permanent Marker', sans-serif;

}

h2{
    font-family: 'Permanent Marker', sans-serif;
    font-size: xx-large;

}

h2{
    display: flex;
    justify-content: center;

}

.footbar {

    display:flex;
    justify-content: space-evenly;
    font-family: 'Permanent Marker', sans-serif;
}

p {text-align: center;}

.image123{

    display:block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    display:flex;
    justify-content: space-between;
    font-size: x-large;
    font-family: 'Jost', sans-serif;

}

.imgContainer{
    float:left;
}

.pageintro{

    text-align: center;
}


.navbar
{
background-color: #fe88e0;
border-top: 1px solid #000000;
border-bottom: 1px solid #000000;
}

a {
    text-decoration: none;
    color: black;
  }

.header img {
    float: left;
    width: 400px;
    height: 100px;
    background: #555;
  }
  
.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
  }

.footbar
{
background-color: #fe88e0;
border-top: 1px solid #000000;
border-bottom: 1px solid #000000;
}

.footbar {

    display:flex;
    justify-content: space-evenly;
    font-size: x-large;
}

.text2 {

    font-family: 'Jost', sans-serif;
    font-size: larger;
}


table, th, td {
    border:1px solid black;
    font-family: 'Jost', sans-serif;
   
  }

table {
    display: flex;
    justify-content: center;
}

dl {
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: larger;
    
}

/* Style the container with a rounded border, grey background and some padding and margin */
.reviews {
    border: 2px solid #ccc;
    background-color: #fe88e0;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
  }
  
  /* Clear floats after containers */
  .reviews::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Float images inside the container to the left. Add a right margin, and style the image as a circle */
  .reviews img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Increase the font-size of a span element */
  .reviews span {
    font-size: 20px;
    margin-right: 15px;
  }
  
  /* Add media queries for responsiveness. This will center both the text and the image inside the container */
  @media (max-width: 500px) {
    .reviews {
      text-align: center;
    }
  
    .reviews img {
      margin: auto;
      float: none;
      display: block;
    }
  }

form {
    text-align: center;
}